.contact-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.left-section {
  flex: 1;
  background-color: #00b5c9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.left-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

.left-section p {
  font-size: 18px;
  line-height: 1.6;
}

.left-section span {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.right-section {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.right-section h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.required {
  color: red;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #00b5c9;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  width: 120px;
  padding: 12px;
  background-color: #00b5c9;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

.contact-form button:hover {
  background-color: #009cb1;
}

.form-status {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    height: auto;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 40px;
  }

  .left-section {
    text-align: center;
  }
}


