 .solutions-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 100px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.solutions-content {
    background-color: rgb(100 164 175);
    color: #fff;
    padding: 30px 40px;
    max-width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: -210px;
}
.solutions-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.solutions-content p {
  font-size: 16px;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .solutions-section {
    padding: 40px 20px;
    min-height: 350px;
    background-position: center center;
  }

  .solutions-content {
    max-width: 100%;
    padding: 25px;
    text-align: center;
  }

  .solutions-content h2 {
    font-size: 28px;
  }

  .solutions-content p {
    font-size: 15px;
  }
}
